<nav class="h-[15vh] w-full flex items-center justify-between px-10 transparent absolute top-0">
    <section>
        <a href="/"> <img class="h-[6vh] mix-blend-multiply"
                src="https://i.pinimg.com/originals/5e/b9/24/5eb924aee830d769dff1ad0997a99d25.gif"
                alt="No Brand logo found"></a>
    </section>

    <section class="flex gap-8 text-xl text-[#3c4c45]">
        <a href="/">Blogs</a>
        <a href="/">Be a writer</a>
        <a href="/">Talk to us</a>
    </section>

    <section class="flex gap-8">
        <a href="/login"
            class="relative inline-flex items-center justify-center p-4 px-6 py-3 overflow-hidden font-medium text-indigo-600 transition duration-300 ease-in  border-[#3c4c45] rounded-full shadow-md group">

            <span
                class="absolute inset-0 flex items-center justify-center w-full h-full text-white duration-300 -translate-x-full bg-[#3c4c45] group-hover:translate-x-0 ease">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3">
                    </path>
                </svg>
            </span>

            <span
                class="absolute flex items-center justify-center w-full h-full text-[#3c4c45] transition-all duration-300 transform group-hover:translate-x-full ease">Login</span>

            <span class="relative invisible">Button Text</span>
        </a>
    </section>

</nav>