<%-include("partials/header")%>
<%-include("partials/nav")%>
<main class="min-h-screen w-full bg-sky-100 pt-[20vh] px-10 ">
  <h1 class="italic text-6xl font-semibold tracking-tight text-[#3c4c45]">Blogs of the Week <a href=""
      class="text-xl font-normal text-[#8cc9c9]">See all posts <i class="ri-arrow-right-line"></i></a>
  </h1>

  <div class="relative border-black h-[60vh] w-[45vw] rounded-[2vw] mt-16 bg-white"
    style="background-image:
    url(https://images.pexels.com/photos/6576275/pexels-photo-6576275.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;">
    <a href="" class="absolute top-10 left-10 bg-[#3c4c45] text-white px-6 py-[1.3vh] text-xl rounded-full">.Travel</a>
    <a href=""
      class="absolute bottom-10 right-10 h-[6vh] w-[6vh] flex items-center justify-center bg-[#3c4c45] text-white text-4xl rounded-full"><i
        class="ri-arrow-right-up-line"></i></a>

  </div>

</main>
<%-include("partials/footer")%>